@font-face {
  font-family: 'slam';
  src: url('../font/slam.eot?89225874');
  src: url('../font/slam.eot?89225874#iefix') format('embedded-opentype'),
       url('../font/slam.woff?89225874') format('woff'),
       url('../font/slam.ttf?89225874') format('truetype'),
       url('../font/slam.svg?89225874#slam') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'slam';
    src: url('../font/slam.svg?89225874#slam') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "slam";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-comentarios:before { content: '\e800'; } /* '' */
.icon-video:before { content: '\e801'; } /* '' */
.icon-slam-x-o:before { content: '\e802'; } /* '' */
.icon-slam-x:before { content: '\e803'; } /* '' */
.icon-slam-black:before { content: '\e804'; } /* '' */
.icon-slam-arg:before { content: '\e805'; } /* '' */
.icon-slam:before { content: '\e806'; } /* '' */
.icon-provincia-cordoba:before { content: '\e807'; } /* '' */
.icon-provincia-entrerios:before { content: '\e808'; } /* '' */
.icon-provincia-formosa:before { content: '\e809'; } /* '' */
.icon-provincia-jujuy:before { content: '\e80a'; } /* '' */
.icon-provincia-lapampa:before { content: '\e80b'; } /* '' */
.icon-provincia-larioja:before { content: '\e80c'; } /* '' */
.icon-provincia-malvinas:before { content: '\e80d'; } /* '' */
.icon-provincia-mendoza:before { content: '\e80e'; } /* '' */
.icon-provincia-misiones:before { content: '\e80f'; } /* '' */
.icon-provincia-neuquen:before { content: '\e810'; } /* '' */
.icon-provincia-rionegro:before { content: '\e811'; } /* '' */
.icon-provincia-salta:before { content: '\e812'; } /* '' */
.icon-provincia-sanjuan:before { content: '\e813'; } /* '' */
.icon-provincia-sanluis:before { content: '\e814'; } /* '' */
.icon-provincia-santacruz:before { content: '\e815'; } /* '' */
.icon-provincia-santafe:before { content: '\e816'; } /* '' */
.icon-provincia-stgodelestero:before { content: '\e817'; } /* '' */
.icon-provincia-tierradelfuego:before { content: '\e818'; } /* '' */
.icon-provincia-tucuman:before { content: '\e819'; } /* '' */
.icon-revista:before { content: '\e81a'; } /* '' */
.icon-provincia-chubut:before { content: '\e81b'; } /* '' */
.icon-provincia-chaco:before { content: '\e81c'; } /* '' */
.icon-provincia-catamarca:before { content: '\e81d'; } /* '' */
.icon-provincia-capital:before { content: '\e81e'; } /* '' */
.icon-provincia-ba:before { content: '\e81f'; } /* '' */
.icon-prototipo:before { content: '\e820'; } /* '' */
.icon-notificaciones:before { content: '\e821'; } /* '' */
.icon-mencion:before { content: '\e822'; } /* '' */
.icon-mapa:before { content: '\e823'; } /* '' */
.icon-jugadores:before { content: '\e824'; } /* '' */
.icon-jugador:before { content: '\e825'; } /* '' */
.icon-inicio:before { content: '\e826'; } /* '' */
.icon-hashtag:before { content: '\e827'; } /* '' */
.icon-foto:before { content: '\e828'; } /* '' */
.icon-copa-3:before { content: '\e829'; } /* '' */
.icon-copa-2:before { content: '\e82a'; } /* '' */
.icon-copa-1:before { content: '\e82b'; } /* '' */
.icon-copa:before { content: '\e82c'; } /* '' */
.icon-comentarios-o:before { content: '\e82d'; } /* '' */