/*------------------------------------------------------------------
[Master Stylesheet]

Projecto:    SLAM - Eventime
Versión:     1.0
Last change:    --
Assigned to:    http://slamargentina.org
Primary use:    Página web de Slam Argentina
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Tabla de contenidos]

1. Font

2. Body & Basic Settings / .buttons .modal .eventime_button .gap .mini_gap

3. Preloadre / #preloader 

4. Header / header
        4.1. Navigation / #navbar .navi_container

5. Title & Descriptions / .first_description .first_image

6. About Tabs /  .tabs_about

7. Schedule / .schedule_date 
        7.1  Schedule Accordion / .accordion_left .accordion_right
        7.2  Schedule Carousel / #sh_carousel

8. Speakers / .speakers
        8.1  Featured speaker / .fetured_speaker_photo 

9. Photo carousel / .photo_carousel
        9.1  Hover effects / .photo_carousel figure 

10. Testimonials / #testimonials
        10.1 Testimonials Carousel / .testimonials_carousel

11. Reservation / .reservation form
        11.1 Reservation Form / .reservation input[type=submit] 

12. Sponsors / .sponsor_box
        12.1  Featured / .sponsor_featured
        12.2  Basic / .sponsor_basic

13. Contact / contact_information

14. Footer / .footer

15. Media Quares / @media 

16. Animate.css / .animated

-------------------------------------------------------------------*/

/*!------------  VARIABLES ------------ */

@color-principal: 	#ffffff;
@color-secundario:	#ffffff;
@color-fondo: 		#ffffff;




/*!------------  FUENTES ------------ */

@font-face {
    font-family: 'slam';
    src: url('../fonts/fontello/font/slam.eot');
    src: url('../fonts/fontello/font/slam.eot') format('embedded-opentype'),
         url('../fonts/fontello/font/slam.woff') format('woff'),
         url('../fonts/fontello/font/slam.ttf') format('truetype'),
         url('../fonts/fontello/font/slam.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icono {
    display: inline-block;
    font-family: slam;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
    font-size: inherit;
    text-rendering: auto;
}


.icono-2x {

	font-size: 2em;

}

.icono-3x {

	font-size: 2.8em;
	
}

.icono-4x {

	font-size: 4em;
	
}

.icono-5x {

	font-size: 5em;

}
.icono-6x {

	font-size: 8em;

}




/*!------------  BÁSICO ------------ */
body {
  color: red;
}


/*!------------  NAV BAR ------------ */
.logo-nav {

	margin-top: -20px;

}





.eventime_button {
	border-radius: 0.4em;
}





/*!------------  SLIDER ------------ */

#home_slider {
	.left_arrow, .right_arrow {
    	top: 45%;
    }
}


.carousel,

.item,

.active {

    height: 100%;

}

.carousel-inner {

    height: 100%;

}

/* Background images are set within the HTML using inline CSS, not here */

.fill,

.fill_mask {

    min-height: 400px;

}

.fill {

    width: 100%;

    height: 100%;

    background-position: center;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    background-size: cover;

    -o-background-size: cover;

}

.fill_mask {

    width: 100%;

    height: 100%;

    background-repeat: repeat;

    position: absolute;

    top: 0;

    display: table;

    text-align: center;

}

//??? todavía no entiendo para qué es esta clase ???
.slide {
}

.description {

    display: table-cell;

    vertical-align: middle;

    margin-left: auto;

    margin-right: auto;

	h2 {

	    font-size: 60px;

	    text-transform: uppercase;

	    letter-spacing: 17px;

	    font-weight: 400;

	    display: block;

	    width: 90%;

	    margin: 0 auto;

	    @media (max-width: 600px) {

	        font-size: 28px;

	        letter-spacing: 10px;

	    }

	    @media (max-width: 400px) {

	        font-size: 20px;

	        letter-spacing: 2px;

	    }

	    @media (max-width: 992px) {

        	font-size: 40px;

    	}

	}

	h3 {

	    font-size: 40px;

	    text-transform: uppercase;

	    letter-spacing: 17px;

	    font-weight: 100;

	    display: block;

	    width: 90%;

	    margin: 0 auto;

	    @media (max-width: 600px) {

	        font-size: 20px;

	        text-transform: uppercase;

	        letter-spacing: 5px;

		}

	}

	blockquote {

		max-width: 800px;

    	text-transform: none;

    	letter-spacing: 2px;

    	font-size: 19px;
	}

	#clock {

	    font-size: 70px;

	    text-transform: uppercase;

	    letter-spacing: 17px;

	    font-weight: 100;

	    display: block;

	    width: 90%;

	    margin: 0 auto;

	    @media (max-width: 600px) {

	        font-size: 30px;

	        text-transform: uppercase;

	        letter-spacing: 10px;

	        font-weight: 100;

		}

	}

	.logo-principal {

		max-width: 450px;

		width: 50%;

		//margin-left: 80px;

	}
}




.details {

    font-size: 18px;

    text-transform: uppercase;

    letter-spacing: 5px;

    font-weight: 700;

    display: inline-block;

    margin-right: 15px;

	.fa, p {

	    display: inline-block;

	    vertical-align: middle;

	}

	p {
	
		font-weight: 300;

	    padding-top: 10px;
	
	}

	@media (max-width: 600px) {

        font-size: 15px;

        letter-spacing: 2px;

    }

}



/*!------------  ABOUT ------------ */


#about_menu {

	.container {
	
		width: 100% !important;
	
	}

}

#carousel-localidades {

    position: relative;

    margin: 0 auto;

    .carousel-inner {

    	.item {
			
			margin: 0px auto;
    	}

    	.row {

    		margin-left: 5%;

    		margin-right: 5%;
    	}

    }

    .thumbnail {

    	border: 0px;

    	text-align: center;

    }

    .localidad-selector {

    	color: #9d9d9d;

    	outline: none;

    	opacity: 0.4;



    	transition: opacity .25s ease-in-out;

    	-moz-transition: opacity .25s ease-in-out;

    	-webkit-transition: opacity .25s ease-in-out;

    	&:hover {

    		opacity: 1;

    		//text-shadow: 4px 3px 0px #1D9D74, 9px 8px 0px rgba(0, 0, 0, 0.15);
    		text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
    	}
    
    }

	.Argentina {

		color: #cb9820;
	}

	.Cordoba {

		color: #ff6555;
		
	}

	.Baires {

		color: #37abc8;
	}

}

.about {

    .localidades-titulo {

	    padding-top: 30px;

	    padding-bottom: 80px;

	}

}

.tabs_about {

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

    font-weight: 100;

    text-align: center;

    background-image: url('../images/IMG-ABOUT01.jpg');

    background-position: center center;

    background-size: cover;

    ul {

	    list-style: none;

	    padding-left: 0;

	}

	li {

	    display: inline-block;

	}

	a {

	    margin-left: -3px;

	    margin-right: -4px;

	}



}



/*------------ SPEAKERS ------------ */

.speakers {

    background-position: center;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    background-size: cover;

    -o-background-size: cover;

    min-height: 650px;

    .mask {

	    padding-top: 30px;

	}

}
