
<!-- Imagen de cabecera 
<div class="blog_header" style="background-image:url('images/slider_1.jpg');">
  <div class="fill_mask">
    <div class=" title_center">
      <p class="wow fadeInDown ">
         TORNEO
      </p>
    </div>
    <div class="center_line">
    </div>
  </div>
</div>
-->


<!-- Page Content -->

<div class="gap"></div>

<div id="ficha-torneo" class="seccion fondo_gris">

	<!--<div class="first_line wow fadeInDown"></div>-->

    <div class="contenedor_sec torneo_info_inside">

	    <div class="titulo wow fadeInDown">

	      	<h2 class="sombra_gris_blanco">
	        	
	        	<i class="icon-jugador"></i>Jugador
	      	
	      	</h2>
	    
	    </div>

		<div id="jugador-descripcion">

			<div class="row">

				<div class="col-md-4 datos-generales">

					<h1 class="wow fadeInLeft">Jorge Solís</h1>

					<div class="wow fadeInLeft avatar">

						<img src="/images/IMG-USR01.jpg">

					</div>

				</div>

				<div class="col-md-4 datos-generales">

					<p>Descripción general del jugador, de una cierta cantidad de caracteres (a definir) ..  </p>

				</div>

				<div class="panel-lateral col-md-4">

					<div class="gap"></div>

					<div class="jug_resumen">

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-copa"></i></span>

		        			<h4>TORNEOS</h4>

		        			<p>+12</p>
						
						</div>

						<div class="data-box">

		        			<span class="icon-box"><i class="icon-video"></i></span>

		        			<h4>VIDEOS</h4>

		        			<p>+12</p>
						
						</div>

						<div class="data-box">

		        			<span class="icon-box"><i class="icon-mencion"></i></span>

		        			<h4>MENCIONES</h4>

		        			<p>+2</p>
						
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>



<div id="torneo_content">
	
	<!-- Nav tabs -->
	<div class="tabs_lookeadas">

	  	<ul class="nav nav-tabs panel_selector" role="tablist">

		    <li role="presentation" class="active"><a data-target="#tab_info" aria-controls="tab_info" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Info</a></li>

		    <li role="presentation"><a data-target="#tab_torneos" aria-controls="tab_torneos" role="tab" data-toggle="tab"><i class="icon-copa"></i>Torneos</a></li>

		    <li role="presentation"><a data-target="#tab_videos" aria-controls="tab_videos" role="tab" data-toggle="tab"><i class="icon-video"></i>Videos</a></li>

		    <li role="presentation"><a data-target="#tab_fotos" aria-controls="tab_fotos" role="tab" data-toggle="tab"><i class="fa fa-camera-retro"></i>Fotos</a></li>

		    <li role="presentation"><a data-target="#tab_comentarios" aria-controls="tab_comentarios" role="tab" data-toggle="tab"><i class="fa fa-comment-o"></i>Comentarios</a></li>

	  	</ul>

  	</div>

  	<!-- Tab panes -->
  	<div class="tab-content contenedor_sec">
    	
    	<div role="tabpanel" class="tab-pane fade in active" id="tab_info">
    	
    		<div class="info_jugador">

				<h4>
					<a href=""><i class="fa fa-facebook-square"></i> Jorge Solís</a>
				</h4>

				<h4>
					<a href=""><i class="fa fa-twitter-square"></i> @JorgelinoSolcito</a>
				</h4>

				<h4>
					<a href=""><i class="fa fa-instagram"></i> @Jorgelin24</a>
				</h4>

			</div>

			<div class="gap"></div>

    	</div>

	    <div role="tabpanel" class="tab-pane fade" id="tab_torneos">

	    	<div class="">

				<!--<div class="first_line wow fadeInDown"></div>-->

			    <div id="sec_torneosAnteriores" class="torneo_info_inside">

			    	<div class="row wow fadeInLeftBig">

			    		<div class="col-xs-10 col-sm-5 col-md-4">

			    			<div class="tarjeta_torneo torneo_info_inside" fecha="25 JUL">
			                 	
			                    <a href=""><h4 class="torneo_nombre">Torneo de apertura 2015</h4></a>

			                	<div class="torneo_resumen">

			                		<div class="data-box">

					        			<span class="icon-box"><i class="icon-jugador"></i></span>

					        			<h4>JUGADORES</h4>

					        			<p>+12</p>
									
									</div>

			                		<div class="data-box">

					        			<span class="icon-box"><i class="icon-video"></i></span>

					        			<h4>VIDEOS</h4>

					        			<p>+5</p>
									
									</div>

			                		<div class="data-box">

					        			<span class="icon-box"><i class="fa fa-camera"></i></span>

					        			<h4>FOTOS</h4>

					        			<p>+12</p>
									
									</div>

			                		<div class="data-box">

					        			<span class="icon-box"><i class="fa fa-comment-o"></i></span>

					        			<h4>COMENTARIOS</h4>

					        			<p>+12</p>
									
									</div>

			                	</div>

			                	<div class="torneo_datos">

			                		<div class="torneo_fecha">

										<span class="icon-box" ><i class="fa fa-clock-o"></i></span>

										<span class="hora">23:00</span>
									
									</div>

									<div class="torneo_lugar">
									
										<span class="icon-box" ><i class="fa fa-map-marker"></i></span>

										<span class="lugar-nombre">Centro Cultural Rosario ??</span>

										<span class="direccion"><a href="">Laprida 834</a></span>

									</div>

									<div class="torneo_hashtag">
										
										<span class="icon-box">#</span>

										<span class="aclaracion">SlamApertura2015</span>

									</div>

			                	</div>

			                	<div class="ver_mas"><a href=""><h3><i class="fa fa-caret-right"></i>ver más</h3></a></div>

			            	</div>
				    	
				    	</div>

				    	<div class="col-xs-10 col-sm-5 col-md-4">

			    			<div class="tarjeta_torneo torneo_info_inside" fecha="25 JUL">
			                 	
			                    <a href=""><h4 class="torneo_nombre">Torneo de apertura 2015</h4></a>

			                	<div class="torneo_resumen">

			                		<div class="data-box">

					        			<span class="icon-box"><i class="icon-jugador"></i></span>

					        			<h4>JUGADORES</h4>

					        			<p>+12</p>
									
									</div>

			                		<div class="data-box">

					        			<span class="icon-box"><i class="icon-video"></i></span>

					        			<h4>VIDEOS</h4>

					        			<p>+5</p>
									
									</div>

			                		<div class="data-box">

					        			<span class="icon-box"><i class="fa fa-camera"></i></span>

					        			<h4>FOTOS</h4>

					        			<p>+12</p>
									
									</div>

			                		<div class="data-box">

					        			<span class="icon-box"><i class="fa fa-comment-o"></i></span>

					        			<h4>COMENTARIOS</h4>

					        			<p>+12</p>
									
									</div>

			                	</div>

			                	<div class="torneo_datos">

			                		<div class="torneo_fecha">

										<span class="icon-box" ><i class="fa fa-clock-o"></i></span>

										<span class="hora">23:00</span>
									
									</div>

									<div class="torneo_lugar">
									
										<span class="icon-box" ><i class="fa fa-map-marker"></i></span>

										<span class="lugar-nombre">Centro Cultural Rosario ??</span>

										<span class="direccion"><a href="">Laprida 834</a></span>

									</div>

									<div class="torneo_hashtag">
										
										<span class="icon-box">#</span>

										<span class="aclaracion">SlamApertura2015</span>

									</div>

			                	</div>

			                	<div class="ver_mas"><a href=""><h3><i class="fa fa-caret-right"></i>ver más</h3></a></div>

			            	</div>
				    	
				    	</div>

				    	<div class="col-xs-10 col-sm-5 col-md-4 hidden-sm">

			    			<div class="tarjeta_torneo torneo_info_inside" fecha="25 JUL">
			                 	
			                    <a href=""><h4 class="torneo_nombre">Torneo de apertura 2015</h4></a>

			                	<div class="torneo_resumen">

			                		<div class="data-box">

					        			<span class="icon-box"><i class="icon-jugador"></i></span>

					        			<h4>JUGADORES</h4>

					        			<p>+12</p>
									
									</div>

			                		<div class="data-box">

					        			<span class="icon-box"><i class="icon-video"></i></span>

					        			<h4>VIDEOS</h4>

					        			<p>+5</p>
									
									</div>

			                		<div class="data-box">

					        			<span class="icon-box"><i class="fa fa-camera"></i></span>

					        			<h4>FOTOS</h4>

					        			<p>+12</p>
									
									</div>

			                		<div class="data-box">

					        			<span class="icon-box"><i class="fa fa-comment-o"></i></span>

					        			<h4>COMENTARIOS</h4>

					        			<p>+12</p>
									
									</div>

			                	</div>

			                	<div class="torneo_datos">

			                		<div class="torneo_fecha">

										<span class="icon-box" ><i class="fa fa-clock-o"></i></span>

										<span class="hora">23:00</span>
									
									</div>

									<div class="torneo_lugar">
									
										<span class="icon-box" ><i class="fa fa-map-marker"></i></span>

										<span class="lugar-nombre">Centro Cultural Rosario ??</span>

										<span class="direccion"><a href="">Laprida 834</a></span>

									</div>

									<div class="torneo_hashtag">
										
										<span class="icon-box">#</span>

										<span class="aclaracion">SlamApertura2015</span>

									</div>

			                	</div>

			                	<div class="ver_mas"><a href=""><h3><i class="fa fa-caret-right"></i>ver más</h3></a></div>

			            	</div>
				    	
				    	</div>
				
				    </div>

				    <a style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight btn eventime_button animated entrada-0s5" href="#about_menu" role="button">CARGAR MÁS..</a>
				
				</div>

			</div>

	    </div>

		<div role="tabpanel" class="tab-pane fade" id="tab_videos">
		    	
		    <div class="row">

	    		<div class="col-xs-11 col-sm-6 col-lg-4">

	    			<div class="tarjeta_video">

	    				<div class="embed-responsive embed-responsive-16by9">

						  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1g7wpkLa0r8" allowfullscreen></iframe>

						</div>

	                	<!--
	                	<div class="vid_info">

	                		<ul>

	                			<li><a href="">Mariana Bugallo</a></li>

	                		</ul>

						</div> -->

					</div>

				</div>

				<div class="col-xs-11 col-sm-6 col-lg-4">

	    			<div class="tarjeta_video">

	    				<div class="embed-responsive embed-responsive-16by9">

						  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EayB4xrcxX4" allowfullscreen></iframe>

						</div>

					</div>

				</div>

				<div class="col-xs-11 col-sm-6 col-lg-4">

	    			<div class="tarjeta_video">

	    				<div class="embed-responsive embed-responsive-16by9">

						  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/reIP1rbemRs" allowfullscreen></iframe>

						</div>

					</div>

				</div>

				<div class="col-xs-11 col-sm-6 col-lg-4">

	    			<div class="tarjeta_video">

	    				<div class="embed-responsive embed-responsive-16by9">

						  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P2Q4uEicn3I" allowfullscreen></iframe>

						</div>

					</div>

				</div>

				<div class="col-xs-11 col-sm-6 col-lg-4">

	    			<div class="tarjeta_video">

	    				<div class="embed-responsive embed-responsive-16by9">

						  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rI57qseVg1U" allowfullscreen></iframe>

						</div>

					</div>

				</div>

				<div class="col-xs-11 col-sm-6 col-lg-4">

	    			<div class="tarjeta_video">

	    				<div class="embed-responsive embed-responsive-16by9">

						  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iZ5yVp1COaU" allowfullscreen></iframe>

						</div>

					</div>

				</div>

			</div>

	    </div>

	    <div role="tabpanel" class="tab-pane fade" id="tab_fotos">...</div>

	    <div role="tabpanel" class="tab-pane fade" id="tab_comentarios">...</div>

  	</div>

</div>



